.App {
  text-align: left;
}

.mobile-none {
  display: flex;
}

.padding-20 {
  padding: 0 20px;
}

.margin-start-5 {
  margin-inline-start: 5px;
}

@media (max-width: 768px){
  nav {
    display: flex;
    flex-direction: column;
    margin-block: 20px;
  }

  .logo-div {
    align-self: baseline;
  }

  .mobile-none {
    display: none !important;
  }
}